antinex-utils
celery[redis]
colorlog
dj-database-url==0.4.2
Django==2.0
django-admin
django-cacheops
django-celery-results
django-configurations==2.0.0
django-debug-toolbar==1.9.1
django-extensions==1.9.7
django-redis
django-redis-cache
django-redis-sessions
django-rest-registration
django-rest-swagger
django-six
djangorestframework
djangorestframework-jwt
flake8<=3.4.1
gunicorn
jsonfield
inotify
keras
matplotlib
newrelic
pandas
numpy
psycopg2==2.7.3.2
pycodestyle==2.3.1
pydocstyle
requests
recommonmark
scikit-learn
sphinx
sphinx-autobuild
sphinx_bootstrap_theme
sphinx_rtd_theme
uwsgi
whitenoise==4.0b4
Werkzeug==0.12.2
